.width_form{
    width:30%;
    margin:auto;
}

.text_position{
    text-align: center;
}

.style_font{
    font-size: 20;
    color: #FF1C19;
    margin-top:3%;
}

.background_color{
    background:#DCDCDC;
}

.margin_container{
    margin-top: 5%;
}

.password-group{
    margin-top: 2em;
    margin-bottom: 2.5em !important;
}

.form-wrapper {
    max-width: 30%;
    min-width: 400px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}


.form-input {
    position: relative;
    padding: 12px 0 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}


.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

.title{
    color: #74b9ff;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-family: 'Satisfy', cursive;
    margin-bottom: -0.5em;
}

html, body, .main{
    height: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration_button {
    margin-top: 15px;
}