<html lang="fr-fr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Bank Monitoring | Login</title>
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
	<!-- Material Design Bootstrap -->
	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>
<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
	  <a class="navbar-brand" href="#"><strong>Bank Monitoring</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</nav>
  </header>
<body class="background_color">
	<div class="container margin_container">
	<br/><br/>
		<form action="" th:action="@{/connexion}" method="post" class="form-signin width_form">
			<h3 class="form-signin-heading text_position">Page de connexion</h3>		
			<br/>
			
			<div class="form-group">
				<label class="form-label" for="ndc">Votre nom de compte : </label>
				<input id="ndc" type="text" name="login" class="form-control" />		
			</div>

			<div class="form-group password-group">
				<label class="form-label" for="mdp">Votre mot de passe : </label>
				<input id="mdp" type="password" name="password" class="form-control" autocomplete="on" />
			</div>
			
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

			<div class="submit-btn">
				<button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-lock"></i> Connexion</button>
			</div>
			<div class="submit-btn registration_button">
				<a class="btn btn-lg btn-secondary btn-block" href="#" th:href="@{/inscription}">Inscription</a>
			</div>
		</form>

		<center>
		 <div class="alert alert-danger col-5 style_font" align="center" th:if="${errorMessage}" th:text="${errorMessage}">
				<p >Login ou mot de passe invalide</p>
			</div>	
		</center>

	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>