<html xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>Ma synthese</title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- MDB icon -->
    <link rel="icon" href="../static/img/mdb-favicon.ico" type="image/x-icon">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link th:href="@{/css/my-synthesis.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css" />
  </head>

  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
      <a class="navbar-brand" href="#"><strong>Bank Monitoring</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#" th:href="@{/ma-synthese}">Ma synthèse<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
        <a sec:authorize="isAuthenticated()" href="#" th:href="@{/deconnexion}" class="btn btn-sm btn-primary"> <i class="fa fa-sign-out"></i> Déconnexion </a>
    </nav>
  </header>

<body class="background-color">
<div class="container">
<h4 class="compte_courrant">Ma synthèse du compte courrant</h4>	
<div class="row" >
  <h4 class="col-12" th:text="${'Votre agence est : '+ user.agency.name}"></h4>
</div>
<h4 class="compte_depot" th:text="${'Mon compte Cpt Depot Part. n° '+ user.bankAccount.numberAccount +' '+ user.lastName +' '+ user.firstName + ' avec un solde de ' +balance+ ' euros'}"></h4>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Date
      </th>
      <th class="th-sm">Moyen de paiement
      </th>
      <th class="th-sm">Nom du paiement
      </th>
      <th class="th-sm">Montant
      </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="operation : ${operations}">
      <td  th:text="${#dates.format(operation.creationDate, 'dd/MM/yyyy')}"></td>
      <td th:text="${operation.meansOfPayement +' '+operation.transactionNumber}"></td>
      <td th:text="${operation.operationName}"></td>
      <td>
        <p class="green_amount" th:if="${operation.amount.type == T(com.application.persistance.entity.type.AmountType).CREDIT}" th:text="${'+'+ operation.amount.sum}"></p>
        <p class="red_amount" th:if="${operation.amount.type == T(com.application.persistance.entity.type.AmountType).DEBIT}" th:text="${'-'+ operation.amount.sum}"></p>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Date
      </th>
      <th>Moyen de paiement
      </th>
      <th>Nom du paiement
      </th>
      <th>Montant
      </th>
    </tr>
  </tfoot>
</table>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/js/mdb.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/js/addons/datatables.min.js}"></script>

<script>
   $(document).ready(function () {
$('#dtBasicExample').DataTable({
        "paging": false,
        "info":false,
        "language": {
            "lengthMenu": "Afficher _MENU_ résultats par page",
            "zeroRecords": "Pas de résultat - désolé",
            "info": "Affichage de la page _PAGE_ sur _PAGES_",
            "infoEmpty": "Pas de données",
            "infoFiltered": "(Filtrage de _MAX_ du total de résultats)",
			"sSearch": "Rechercher",
        }
    });
$('.dataTables_length').addClass('bs-select');
});
</script>
</div>
</body>
</html>