<html lang="fr-fr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Bank Monitoring | Inscription</title>
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/registration.css}" rel="stylesheet" type="text/css"/>
	<!-- Material Design Bootstrap -->
	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
</head>
<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
		<a class="navbar-brand" href="#"><strong>Bank Monitoring</strong></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</header>
<body class="background_color">
<div class="container register marginRegistration">
	<div class="row">
		<div class="col-md-3 register-left">
			<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
			<h3>Bienvenue</h3>
			<p>C'est rapide, en quelques secondes inscrivez vous sur l'application !</p>
			<a href="#" th:href="@{/connexion}">Connexion</a>
		</div>
		<div class="col-md-9 register-right">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<h3  class="register-heading">S'inscrire en tant que nouveau client</h3>

						<form action="" th:action=="@{/inscription}" th:object="${registration}" method="POST" enctype="utf8">
							<div class="row register-form">
								<div class="col-md-6">
									<div class="form-group">
										<label>
											<input th:field="*{firstName}" type="text" class="form-control" placeholder="Prénom" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('firstName')}" th:text="${error}">
											Validation error
										</p>
									</div>
									<div class="form-group">
										<label>
											<input th:field="*{lastName}" type="text" name="lastname" class="form-control" placeholder="Nom" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('lastName')}" th:text="${error}">
											Validation error
										</p>
									</div>
									<div class="form-group">
										<label>
											<input th:field="*{address}" type="text" class="form-control" name="adress" placeholder="Adresse" value="" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('address')}" th:text="${error}">
											Validation error
										</p>
									</div>


								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>
											<input th:field="*{login}" type="text" class="form-control" name="login" placeholder="Nom de compte" value="" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('login')}" th:text="${error}">
											Validation error
										</p>
									</div>
									<div class="form-group">
										<label>
											<input th:field="*{password}" type="password" class="form-control" name="password" placeholder="Mot de passe" autocomplete="on" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('password')}" th:text="${error}">
											Validation error
										</p>
									</div>
									<div class="form-group">
										<label>
											<input th:field="*{matchingPassword}" type="password" class="form-control" name="password" placeholder="Confirmer mot de passe" autocomplete="on" />
										</label>
										<p class="alert alert-danger style_font" th:each="error: ${#fields.errors('matchingPassword')}" th:text="${error}">
											Validation error
										</p>
									</div>
									<input type="submit" class="btnRegister" value="S'inscrire"/>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>